<form [formGroup]="personneForm" (ngSubmit)="afficherTout()">
    <h3>Personne</h3>
    <div class="form-group">
        <label for="id">Id :</label>
        <input class="form-control" type="number" name="id" formControlName="id">
    </div>
    <div *ngIf="id.invalid && (id.dirty || id.touched)" class="alert alert-danger">
        <div *ngIf="id.errors?.required">
            L'identifiant est obligatoire
        </div>
    </div>
    <div class="form-group">
        <label for="nom">Nom :</label>
        <input class="form-control" type="text" name="nom" formControlName="nom">
    </div>
    <div *ngIf="nom.invalid && (nom.dirty || nom.touched)" class="alert alert-danger">
        <div *ngIf="nom.errors?.required">
            Le nom est obligatoire
        </div>
        <div *ngIf="nom.errors?.erreur">
            Premiere lettre en majuscule et compris entre 3 et 11 caractères
        </div>
    </div>
    <div class="form-group">
        <label for="prenom">Prenom :</label>
        <input class="form-control" type="text" name="prenom" formControlName="prenom">
    </div>
    <div *ngIf="prenom.invalid && (prenom.dirty || prenom.touched)" class="alert alert-danger">
        <div *ngIf="prenom.errors?.required">
            Le prenom est obligatoire
        </div>
        <div *ngIf="prenom.errors?.erreur">
            Premiere lettre en majuscule
        </div>
    </div>
    <div formGroupName="adresse">
        <h3>Adresse</h3>
        <div class="form-group">
            <label for="rue">Rue :</label>
            <input class="form-control" type="text" name="rue" formControlName="rue">
        </div>
        <div *ngIf="rue.invalid && (rue.dirty || rue.touched)" class="alert alert-danger">
            <div *ngIf="rue.errors?.required">
                La rue est obligatoire
            </div>
        </div>
        <div class="form-group">
            <label for="ville">ville :</label>
            <input class="form-control" type="text" name="ville" formControlName="ville">
        </div>
        <div *ngIf="ville.invalid && (ville.dirty || ville.touched)" class="alert alert-danger">
            <div *ngIf="ville.errors?.required">
                La ville est obligatoire
            </div>
        </div>
        <div class="form-group">
            <label for="codePostal">Code Postal :</label>
            <input class="form-control" type="text" name="codePostal" formControlName="codePostal">
        </div>
        <div *ngIf="codePostal.invalid && (codePostal.dirty || codePostal.touched)" class="alert alert-danger">
            <div *ngIf="codePostal.errors?.required">
                Le code postal est obligatoire
            </div>
        </div>
    </div>
    <br>
    <br>
    <div formArrayName="sports">
        <h3 style="display: contents;">Sports </h3>
        <button class="btn btn-primary" type=button (click)="ajouterSport()">
            Ajouter sport
        </button>
        <div class="form-group" *ngFor="let sport of sports.controls; let i= index" #el [formGroupName]="i">
            <div class="form-group">
                <label for="titre">Titre:</label>
                <input class="form-control" placeholder="titre" name="titre" formControlName="titre">
            </div>
            <button class="btn btn-danger" type=button (click)="supprimerSport(i)">
                supp
            </button>
        </div>
    </div>
    <button type="submit" class="btn btn-success" [disabled]="!personneForm.valid">
        Envoyer
    </button>
    <div>
        état : {{ personneForm.status }}
    </div>
</form>
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Prenom</th>
                <th scope="col">Nom</th>
                <th scope="col">Rue</th>
                <th scope="col">Ville</th>
                <th scope="col">Code Postal</th>
                <th scope="col">Sports</th>
            </tr>
        </thead>
        <tbody *ngFor="let elt of personnes;">
            <tr>
                <td>{{ elt.id }}</td>
                <td>{{ elt.prenom }}</td>
                <td>{{ elt.nom }}</td>
                <td>{{ elt.adresse.rue }}</td>
                <td>{{ elt.adresse.ville }}</td>
                <td>{{ elt.adresse.codePostal }}</td>
                <span *ngFor="let subItem of elt.sports">
                    <td>{{ subItem.titre }}</td>
                </span>
            </tr>
        </tbody>
    </table>
</div>