<nav ngxNavbarDynamicExpand class="navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Formation Angular</a>
    <button class="navbar-toggler" type="button" (click)="collapse.toggle()">
        <span class="navbar-toggler-icon">
        </span>
    </button>
    <ngx-navbar-collapse class="collapse navbar-collapse" #collapse="ngxNavbarCollapse">
        <!-- <ul class="nav navbar-nav">
            <li><a class="nav-link item" routerLink="home" routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }">Accueil</a></li>
            <li><a class="nav-link item" routerLink="stagiaire" routerLinkActive="active">Stagiaire</a></li>
            <li><a class="nav-link item" routerLink="adresse" routerLinkActive="active">Adresse</a></li>
        </ul> -->
        <ul class="navbar-nav mr-auto">
            <li *ngFor="let tab of tabs"><a class="nav-link item" routerLink="/{{tab.path}}" routerLinkActive="active"> {{tab.title}}</a></li>
            <li *ngIf="isConnected(); else sinon">
                <a class="nav-link item" (click)="logOut()">Logout</a> 
            </li>
            <ng-template #sinon>
                <li>
                    <a class="nav-link item" routerLink="auth">Login</a>
                </li>
            </ng-template>
        </ul>
    </ngx-navbar-collapse>
</nav>
<div class="container">
    <router-outlet></router-outlet>
</div>